@{
    ViewData["Title"] = "Home Page";
}

<div style="align-items:stretch " class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>


<p class="text-center">Select the action from the navigation bar</p>



