@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sellers";
}

<div>
    <h2 class="text-center font-weight-normal">Sellers</h2>
    <div id="list_sellers"></div>
</div>
